<configuration>
    <import class="ch.qos.logback.core.FileAppender"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <timestamp key="byTime" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <appender name="FILE" class="FileAppender">
        <file>logs/smo-test-${byTime}.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>

        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="configs" level="OFF"/>
    <logger name="gui" level="OFF"/>
    <logger name="system" level="OFF"/>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
